<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>XVI 15 clothing x Osin Craft</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/product.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{images/Logo_XVI_CUT.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">

</head>

<body>

<header class="header">

    <div class="top-section">
        <p class="free_delivery_text">Darmowa dostawa od 250 zł</p>
    </div>

    <div class="middle-section">
        <img class="thumbnail" th:src="@{images/LOGO.png}"/>
        <img class="thumbnail" th:src="@{images/logo_osin_craft.jpg}"/>

        <div class="video-info">
            <p class="welcome_message">
                Witamy na stronie sklepu XVI 15 Clothing x Osin.Craft
            </p>
        </div>
        <img class="vector" th:src="@{icons/search.svg}"/>
        <img class="vector" th:src="@{icons/profile-svgrepo-com.svg}"/>
        <img class="vector" th:src="@{icons/cart-svgrepo-com.svg}"/>

    </div>
    </div>
</header>

<main>
    <section class="products-grid">
        <a th:href="@{/product1}"
           class="btn btn-primary btn-sm mb-3">
            <div class="product-preview">
                <div class="picture-row">
                    <img class="product" th:src="@{products/1.png}">
                    <div class="label-picture">Personalizacja</div>
                </div>
                <p>Koszulka DAD</p>
                <p>110zł</p>
            </div>
        </a>
        <div class="product-preview">
            <div class="picture-row">
                <img class="product" th:src="@{products/2.png}">
                <div class="label-picture">Personalizacja</div>
            </div>
            <p>Koszulka TATA- czarne napisy</p>
            <p>110zł</p>
        </div>

        <div class="product-preview">
            <div class="picture-row">
                <img class="product" th:src="@{products/3.png}">
                <div class="label-picture">Personalizacja</div>
            </div>
            <p>Koszulka TATA- brązowy napis "1"</p>
            <p>110zł</p>
        </div>

        <div class="product-preview">
            <div class="picture-row">
                <img class="product" th:src="@{products/4.png}">
                <div class="label-picture">Personalizacja</div>
            </div>
            <p>Koszulka TATA- brązowy napis "2"</p>
            <p>110zł</p>
        </div>

        <div class="product-preview">
            <div class="picture-row">
                <img class="product" th:src="@{products/shirt_hand_1.png}">
                <div class="label-picture">Personalizacja</div>
            </div>
            <p>Koszulka Najlepszy tata- rączki </p>
            <p>90zł</p>
        </div>


    </section>
</main>


</body>
</html>