body{
    margin: 0;
    padding: 0;
}

.top-section{
    display:flex;
    left:0;
    right:0;
    background-color:black;
    justify-content:space-around;
}

.middle-section{
    display:flex;
    flex-direction: row;
    position:fixed;
    align-items: center;
    top:60px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    margin-left:20px;
    margin-right:20px;
}

.free_delivery_text{
    color:white;
    font-family:serif;
}

.header{
    display:flex;
    flex-direction: column;
    position:fixed;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    z-index:100px;
}

.vector {
    width: 50px;
    margin-right: 10px;
}


.thumbnail {
    width: 50px;
    border-width: 2px;
    border-style: none;
    border-radius:20px;
    margin-left:10px
}


.video-info{
    font-size: 35px;
    flex-grow:1;
}

.welcome_message{
    text-align:center;
    margin:0;
    font-family:Sriracha;
}








